body {
    background-color: black;
}

#mylable {
    margin-left: 200px;
}

#mainbtn {
    margin-left: 102px;
    margin-top: 10px;
    width: 100px;
    height: 35px;
    text-align: center;

}

#mainbtn_2 {

    margin-top: 10px;
    width: 100px;
    height: 35px;
    text-align: center;

}

.modal-content {
    color: white;
    background-color: black;
}


.modal-content h1 {
    color: white;
}

.mb-3 label {
    color: white;
}



.list-group {

    width: 400px;
}

.list-group-item {
    text-align: center;
    background-color: black;
    color: white;
}

.container {

    margin-top: 100px;
    margin-left: 450px;
}

#pcnum {
    color: white;
    text-align: center;
    background-color: black;
    width: 35px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 17px;
}

#time {
    color: white;
    background-color: black;
    width: 55px;
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    margin-bottom: 17px;
}

#comm {
    color: white;
    text-align: center;
    background-color: black;
    width: 110px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 17px;
}

.mb-3 label {
    margin-left: 10px;
}


.modal-footer input {
    margin-right: 124px;
}
